<header class="header">
  <a class="logo" href="#">Portfolio</a>

  <i class="bx bx-menu" id="menu-icon"></i>

  <nav class="navbar">
    <ul class="navbar__list">
      <li class="navbar__item">
        <a class="navbar__link active" href="#home">Home</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="#about">About</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="#services">Services</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="#portfolio">Portfolio</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>
</header>
